

.w20 {
	display: block;
	margin: 0.5em;	
}

.w20 > span {
	display: block;
	margin-right: 0.3em;
	float: left;
}

span span {
	opacity: 0;
	backface-visibility: visible;
	transition-property: all;
	transition-duration: 660ms;
	transition-timing-function: ease-in-out;
	transform-origin: 50% 50% 0px;
	transform: perspective(1050px) rotateY(0deg) scale(0.5);
	-webkit-transition-property: all;
	-webkit-transition-duration: 660ms;
	-webkit-transition-timing-function: ease-in-out;
	-webkit-transform-origin: 50% 50% 0px;
	-webkit-transform: perspective(1050px) rotateY(0deg) scale(0.5);
	display: inline-block;
}
